# General
*.xml
*.iml
*out
*output
*export
*inputs
*input_*
*output_*
*.properties
*.cache

# Python
/.vscode/*
/**/.venv*/
/**/.DS_Store
/**/*.pyc
/**/*.class
/**/__pycache__/
/**/*.egg
/**/*.egg-info

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.bcf
*.lof
*.lot
*.toc
*.blg

# Project specific files
Datasets/
Models/*
*.torch
*.mp4
*.nii.gz
test_dicom.py

OldCode/
neopolyp/
DatasetExamples/

# Ignore all .pt files in the root directory, but not in subdirectories
/*.pt
*.pth
weight/
Images/
runs/*
/**/**old**
*.pdf
*.jpg
*.csv
*.tex
*.neopolyp